{
  "disable_icon_download": true,
  "signups_allowed": '{{ vaultwarden_signups_allowed }}',
  "signups_verify": '{{ vaultwarden_signups_verify }}',
  "signups_verify_resend_time": 36000,
  "signups_verify_resend_limit": 2,
{% if vaultwarden_signups_domains_whitelist %}
  "signups_domains_whitelist": "{{ vaultwarden_signups_domains_whitelist | join(',') }}",
{% endif %}
  "invitations_allowed": true,
  "password_iterations": 100000,
  "show_password_hint": true,
{% if vaultwarden_smtp_settings %}
  "invitation_org_name": "{{ vaultwarden_org_name }}",
  "_enable_smtp": true,
  "smtp_host": "{{ vaultwarden_smtp_settings['smtp_host'] }}",
  "smtp_ssl": true,
  "smtp_explicit_tls": false,
  "smtp_port": 587,
  "smtp_from": "{{ vaultwarden_smtp_settings['smtp_from'] }}",
  "smtp_from_name": "{{ vaultwarden_smtp_settings['smtp_from_name'] }}",
  "smtp_username": "{{ vaultwarden_smtp_settings['smtp_username'] }}",
  "smtp_password": "{{ vaultwarden_smtp_settings['smtp_password'] }}",
  "smtp_timeout": 30,
  "smtp_debug": false,
  "smtp_accept_invalid_certs": false,
  "smtp_accept_invalid_hostnames": false
{% else %}
  "invitation_org_name": "{{ vaultwarden_org_name }}"
{% endif %}
}
