server {

    listen 80;
    listen [::]:80;
    server_name {{ vaultwarden_domain }};
    return 301 https://$server_name$request_uri;
}

server {

    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name {{ vaultwarden_domain }};

{% for ld in letsencrypt_domains %}
{% if vaultwarden_domain in letsencrypt_domains[ld] %}
    ssl_certificate /etc/letsencrypt/live/{{ ld }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ ld }}/privkey.pem;
{% endif %}
{% endfor %}

    add_header X-Content-Type-Options nosniff;
    add_header X-Frame-Options "SAMEORIGIN";
    add_header X-XSS-Protection "1; mode=block";
    add_header X-Robots-Tag none;
    add_header X-Download-Options noopen;
    add_header X-Permitted-Cross-Domain-Policies none;

    client_max_body_size 128M;

    location ~ ^/(?:identity/connect/token|api/accounts/prelogin) {

        limit_req zone=post_by_ip_5s burst=1;

        proxy_pass http://localhost:{{ vaultwarden_port }};
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "Upgrade";
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;

        access_log /var/log/nginx/vaultwarden_access.log combined;
    }

    location / {
        proxy_pass http://localhost:{{ vaultwarden_port }};
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "Upgrade";
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;

        access_log /var/log/nginx/vaultwarden_access.log combined;
    }

}

